* {
    background-color: hsl(195, 96%, 12%);
    margin-top: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
}
/* font for nav bar */
@font-face {
    src: url(./assets/fonts/PermanentMarker-Regular.ttf);
    font-family: permanentmarker;
}
@font-face {
    src: url(./assets/fonts/EduAUVICWANTHand-Regular.ttf);
    font-family: eduaustralia;
}

/* makes all the links to change the pointer when hover the mouse */
a {
    cursor: pointer;
}
/* delete the points in the list */
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}
/* logo style */
.navbar img {
    width: 150px;
    height: 150px;
    padding-top: 0px;
    margin-top: 0px;
}
/* font and styles of the nav menu left part */
.navbar a {
    text-decoration: none;
    color: antiquewhite;
    padding-left: 65px;
    display: block;
    float: left;
    font-family: permanentmarker;
    font-size: 20px;
}

/* style of button */
.signin button {
    float: inline-end;
    margin-right: 65px;
    font-size: 20px;
    color: antiquewhite;
    font-family: permanentmarker;
    background-color: rgb(204, 115, 226);
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
    margin-top: -15px;
}

/* jumbotron styles */
.jumbotroncontainer {
    margin-top: 150px;
}

.jumbotrontext {
    margin-top: 60px;
    width: 30%;
    height: 600px;
    float: inline-end;
    margin-right: 25px;
}

.jumbotrontext h1 {
    font-family: eduaustralia;
    color: rgb(255, 166, 166);
    text-align: center;
    font-size: 40px;
}

.jumbotrontext p {
    text-align: center;
    color: antiquewhite;
    font-family: eduaustralia;
    font-size: 20px;
}

.jumbotrontext form {
    text-align: center;
    color: antiquewhite;
    font-family: eduaustralia;
}

.jumbotrontext input[type=email] {
    width: 300px;
    height: 35px;
    background-color: rgb(244, 241, 245);
    border-radius: 5px;
}

.jumbotrontext input[type=submit] {
    width: 70px;
    height: 35px;
    background-color: rgb(204, 115, 226);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(226, 215, 215);
    border-radius: 10px;
}

.jumbotrontext ::placeholder {
    text-align: center;
    color: rgb(25, 24, 24);
}

.jumbotroncontainer img {
    width: 1300px;
    height: 600px;
    float: inline-start;
}

.textblog {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
}

.textblog h1 {
    font-family: permanentmarker;
    font-size: 60px;
    color: hwb(179 78% 6% / 0.959);
}

.textblog p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: hwb(59 59% 5% / 0.89);
}

.blog {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    display: inline-flex;
    justify-content: center;
}

.blog article {
    width: 33.3%;
}

.blog .certificacion video{
    width: 90%;
    height: 400px;
    align-items: center;
    margin-left: 28px;
}

.blog .certificacion p {
    margin: 15px 15px;
    padding: 15px 15px;
    color: rgb(170, 173, 177);
    font-family: eduaustralia;
    text-align: center;
    font-size: 20px;
}

.blog .tipos_casco video{
    width: 90%;
    height: 400px;
    align-items: center;
    margin-left: 28px;
}

.blog .tipos_casco p {
    margin: 15px 15px;
    padding: 15px 15px;
    color: rgb(170, 173, 177);
    font-family: eduaustralia;
    text-align: center;
    font-size: 20px;
}

.blog .imgcasco img {
    width: 100%;
    height: 400px;
}

.blog .imgcasco p {
    margin: 15px 15px;
    padding: 15px 15px;
    color: rgb(170, 173, 177);
    font-family: eduaustralia;
    text-align: center;
    font-size: 20px;
}

footer {
    margin-top: 100px;
    background-color: azure;
    text-align: center;
    padding: 25px;
}

footer h1 {
    background-color: aqua;
}

